
h1 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
p {
    text-align: justify;
    color: rgb(7, 7, 7);
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #fffdd0;
}

div{
    background-color: #fffdd0;
    padding: 20px;
    margin: 20px;
    
}
